html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background: #f8f9fa;
    border-top: 1px solid #e9ecef;
    padding: 1rem 0;
    text-align: center;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    max-width: 400px; /* Adjust as necessary */
    box-sizing: border-box;
    padding: 10px;
}

/* Ensure .form-control has the same styling */
.form-control {
    width: 100%;
    max-width: 400px; /* Adjust as necessary */
    box-sizing: border-box;
    padding: 10px;
}